<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <script src="../index.js" defer></script>
        <link rel="stylesheet" href="/css/err.css">
</head>
<body>
<h1>ERROR</h1>
<p>
    Error, such page does not exist
</p>
<a href="/">Back</a>
</body>
</html>