<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorkPanel</title>
    <script src="../index.js" defer></script>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<h1>Hello</h1>
    <p>
        Hi, i'm Lesha
    </p>
<a href="/">Back</a>
</body>
</html>