<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreeBot</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="../index.js" defer></script>

</head>
<body>
<h1>Login</h1>
<br>
<form method="post" action="/check-userdata">
<input
        type="text"
        name="username"
        class="form-control mb-2"
        placeholder="Login"
        id="login"
        value=""
/>

<br>

<input
        type="password"
        name="password"
        class="form-control mb-2"
        placeholder="Password"
        id="password"
        value=""
/>

<br>

    <button
        type="submit">Login
    </button>
</form>
<br>
<a href="Reg">Registration</a>
</body>
</html>