<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreeBot</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="../index.js" defer></script>

</head>
<body>
<h1>Registration</h1>
<br>
<input
        type="email"
        class="form-control mb-2"
        placeholder="Mail"
        id="inputMail"
        value=""
/>
<br>
<input
        type="text"
        class="form-control mb-2"
        placeholder="Login(name account)"
        id="inputLogin"
        value=""
/>
<br>
<input
        type="password"
        class="form-control mb-2"
        placeholder="Password"
        id="inputPasswordFromReg"
        value=""
/>
<br>

<a href="Login">Create account</a>



</body>
</html>