<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreeBot</title>
    <script src="../index.js" defer></script>
    <style>
        body{
            color:#fff;
            background: #333;
            text-align: center;
            padding-top: 100px;
        }
        a{
            color: blueviolet;
            text-decoration: none;
        }
        a:hover{text-decoration: underline}
    </style>
</head>
<body>
<h1>Hello</h1>
<a href="index2">FreeBotLogin</a>

</body>
</html>