<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreeBot</title>
    <script src="../index.js" defer></script>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<h1>Hello</h1>
<a href="index2">Страница пользователя: <%= username %></a>
</body>
</html>